In [90]:
import pandas as pd
import re

In [91]:
df = pd.read_csv(r"C:\Users\pk\Downloads\merged.csv")

In [72]:
#agency
def extract_credit_agency(row):
    row = str(row)
    agency = ''
    if 'CRISIL' in row:
        agency = 'CRISIL'
    elif 'ICRA' in row:
        agency = 'ICRA'
    elif 'CARE' in row:
        agency = 'CARE'
    elif 'ACUITE' in row:
        agency = 'ACUITE'
    elif 'IND' in row:
        agency = 'IND'
    elif 'BWR' in row:
        agency = 'BWR'
    elif 'Infomerics Valuation and Rating Pvt. Ltd' in row:
        agency = 'Infomerics Valuation and Rating Pvt. Ltd'
    if agency == '':
        agency = 'other'
    
    return agency

In [92]:
# Define a function to extract the desired credit rating
def extract_credit_rating(row):
    row = str(row)
    rating = ''
    if 'CRISIL' in row:
        rating = row.split('CRISIL')[-1].split('/')[0].split(';')[0].strip()
    elif 'ICRA' in row:
        rating = row.split('ICRA')[-1].split('/')[0].split(';')[0].strip()
    elif 'CARE' in row:
        rating = row.split('CARE')[-1].split('/')[0].split(';')[0].strip()
    elif 'ACUITE' in row:
        rating = row.split('ACUITE')[-1].split('/')[0].split(';')[0].strip()
    elif 'IND' in row:
        rating = row.split('IND')[-1].split('/')[0].split(';')[0].strip()
    elif 'BWR' in row:
        rating = row.split('BWR')[-1].split('/')[0].split(';')[0].strip()
    elif 'Infomerics Valuation and Rating Pvt. Ltd' in row:
        rating = row.split('Infomerics Valuation and Rating Pvt. Ltd')[-1].split('/')[0].split(';')[0].strip()
    if rating == '':
        rating = row
        
    rating = re.sub(r'\(.*?\)|\[.*?\]', '', rating)
    rating = rating.replace('STABLE', '')
    rating = rating.replace(' Negative', '-')
    rating = rating.replace('Stable', '')
    rating = rating.replace(r'/Stable', '')
    rating = rating.replace(r'r', '')
    rating = rating.replace(r'/', '')
    rating = rating.replace('IRR', '')
    rating = rating.replace('IVR', '')
    rating = rating.replace('PP-MLD', '')
    rating = rating.strip()
    return rating

In [93]:
df['company_credit_rating'] = df['creditrating'].apply(extract_credit_rating)

In [94]:
df['agency'] = df['creditrating'].apply(extract_credit_agency)

In [95]:
df[["creditrating", "company_credit_rating", "agency"]]

,creditrating,company_credit_rating,agency
0,CRISIL AAA/Stable;ICRA AAA/Stable (),AAA,CRISIL
1,CRISIL AAA/Stable;ICRA AAA/Stable (),AAA,CRISIL
2,CRISIL AAA/Stable;ICRA AAA/Stable (),AAA,CRISIL
3,CRISIL AAA/Stable;ICRA AAA/Stable (),AAA,CRISIL
4,CRISIL AAA/Stable;ICRA AAA/Stable (),AAA,CRISIL
...,...,...,...
325651,IND AAA(CE)/Stable ();CRISIL AAA/Stable (),AAA,CRISIL
325652,IND AAA(CE)/Stable ();CRISIL AAA/Stable (),AAA,CRISIL
325653,IND AAA(CE)/Stable ();CRISIL AAA/Stable (),AAA,CRISIL
325654,IND AAA(CE)/Stable ();CRISIL AAA/Stable (),AAA,CRISIL
325655,IND AAA(CE)/Stable ();CRISIL AAA/Stable (),AAA,CRISIL

In [96]:
df.to_csv("merged_with_ratings.csv")

In [98]:
pd.DataFrame(df['company_credit_rating'].unique())

                                        0
0                                     AAA
1                                     AA+
2                                     nan
3                                      B+
4                                     BBB
5                                     AA-
6                                      AA
7                                      A+
8                                       D
9                                      A-
10                                      A
11                                   BBB-
12                                   BBB+
13                                DEFAULT
14                                    BB+
15                              WITHDRAWN
16                                     B-
17                                     BB
18                                      C
19                                    BB-
20                                      B
21  Tades in ISIN-defaulted in Redemption
22                                     -A
23                                    A1+
24                                     A2